---
layout: page
title: Blog
permalink: /blog/
---

<ul class="post-list">
    {% for post in site.posts %}
    <li class="post-list-item">
        <h3>
            <a class="post-list-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
            </a>
        </h3>
        <p class="post-list-meta">
            {{ post.date | date: "%B %d, %Y" }}
        </p>
        {% if post.excerpt %}
        <p class="post-list-excerpt">{{ post.excerpt }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
